@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Montserrat&family=Glegoo&display=swap');

:root {
  --theme-ui-colors-text: black;
  --theme-ui-colors-background: #fbfcef;
  --theme-ui-colors-primary: #b306ca;
}

.plain-link-text,
.plain-link-text:hover {
  text-decoration: none;
  color: var(--theme-ui-colors-text);
  cursor: default;
}

.header {
  font-family: 'Euphoria Script';
  text-align: center;
}

.body-font {
  font-family: 'Glegoo';
  text-align: justify;
  padding: 0 20px;
}

body {
  font-family: 'Montserrat';
  background-image: url('img/flowers.jpg');
  background-color: #BEDAF3;
  background-size: cover;
  background-repeat: no-repeat;
}

/* <a href='https://www.freepik.com/photos/background'>Background photo created by freepik - www.freepik.com</a> */